
#contenthome
  #social
    %ul
      %li
        %a{:href => "http://www.facebook.com/iceskimo", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Facebook Header']);", :target => "_blank"}
          %img{:src => "/images/button_facebook.png"}
      %li
        %a{:href => "http://twitter.com/iceskimo_snow", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Twitter Header']);", :target => "_blank"}
          %img{:src => "/images/button_twitter.png"}
      %li
        %a{:href => "http://instagram.com/iceskimo_snow", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Instagram Header']);", :target => "_blank"}
          %img{:src => "/images/button_instagram.png"}
      %li
        %a{:href => "mailto:info@iceskimo.com", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Email Header']);", :target => "_blank"}
          %img{:src => "/images/button_mail.png"}
  #what
    #teaser
      %a{:href => "https://goo.gl/maps/LPPAV", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Popup Pangea Map']);", :target => "_blank"}
        %img.popup{:src => "/images/popup_flyer.png"}
