
#contenthome.what
  #what
    #teaser
      .actions.home
        %img.popup{:src => "/images/popup_flyer.png"}
      %p &nbsp;

  #social
    %h2.footer Social Networks
    %ul
      %li
        %a.footer{:href => "https://www.facebook.com/iceskimo", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Facebook Footer']);", :target => "_blank"} Facebook
