
#contenthome.what
  #social
    %ul
      %li
        %a{:href => "http://www.facebook.com/iceskimo", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Facebook Footer']);", :target => "_blank"}
          %img.popup{:src => "/images/button_facebook.png"}
      %li
        %a{:href => "http://twitter.com/iceskimo_snow", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Facebook Footer']);", :target => "_blank"}
          %img.popup{:src => "/images/button_twitter.png"}
      %li
        %a{:href => "http://instagram.com/iceskimo_snow", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Facebook Footer']);", :target => "_blank"}
          %img.popup{:src => "/images/button_instagram.png"}
      %li
        %a{:href => "mailto:info@iceskimo.com", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Link', 'Facebook Footer']);", :target => "_blank"}
          %img.popup{:src => "/images/button_mail.png"}
  #what
    #teaser
      .actions.home
        %img.popup{:src => "/images/popup_flyer.png"}
      %p &nbsp;
