@import "global"

#contenthome
  width: 100%
  &.what
    height: 100%
    border: none
#social
  @include centered(430px)
  ul
    @include box
    @include clearfix
    float: center
    li
      float: right
      text-align: left
      margin-left: 4px
#what
  //background: url(../../images/french-back.jpg) no-repeat center
  //background-position: center
  background-size: 100%
  //background-size: 100% auto
  > div
    @include box
    float: left
  #teaser
    width: 100%
    .actions
      &.home
        img.popup
          max-height: 600px
          margin-top: -104px
          float: center